---
import * as m from "@messages/messages";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = m.index_title();
const description = m.index_meta_description();
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h1 class="my-8 text-center text-3xl font-bold">Astro</h1>
</BaseLayout>
